# Server Configuration
PORT=4953
NODE_ENV=development

# MongoDB Configuration
MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?appName=<appname>

# Redis Configuration
REDIS_URL=redis://localhost:6379

# JWT Configuration
ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
ACCESS_TOKEN_EXPIRE=15m
REFRESH_TOKEN_EXPIRE=7d

# Login Failed Attempt Counter
LOGIN_FAIL_MAX_ATTEMPTS=5
LOGIN_FAIL_WINDOW_SECONDS=900
LOGIN_FAIL_BLOCK_SECONDS=900

# OTP / Forgot Password
OTP_TTL_SECONDS=300
OTP_MAX_ATTEMPTS=5
VERIFIED_TTL_SECONDS=600
OTP_VERIFY_BLOCK_SECONDS=900
